In [26]:
from vanna.ollama import Ollama
from vanna.base import VannaBase
from sentence_transformers import SentenceTransformer

In [78]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from typing import List, Dict, Any

class MyCustomVectorDB(VannaBase):
    def __init__(self, config=None):
        super().__init__(config)
        self.ddl_store = []
        self.doc_store = []
        self.question_sql_store = []
        self.id = 0
        self.embedding_model = SentenceTransformer("./Embd_Models/paraphrase-multilingual-MiniLM-L12-v2")  # You'll need to initialize this with your preferred embedding model
        self.config = config
        self.max_tokens = 1024
        self.static_documentation = ""
        self.dialect = ""
        
        
    def add_ddl(self, ddl: str, **kwargs) -> str:
        self.id += 1
        id = str(self.id)
        self.ddl_store.append({"id": id, "ddl": ddl, "embedding": self.generate_embedding(ddl)})
        return id

    def add_documentation(self, doc: str, **kwargs) -> str:
        self.id += 1

        id = str(self.id)
        self.doc_store.append({"id": id, "doc": doc, "embedding": self.generate_embedding(doc)})
        return id

    def add_question_sql(self, question: str, sql: str, **kwargs) -> str:

        self.id += 1
        id = str(self.id)
        self.question_sql_store.append({
            "id": id,
            "question": question,
            "sql": sql,
            "embedding": self.generate_embedding(question)
        })
        return id

    def get_related_ddl(self, question: str, **kwargs) -> List[Dict[str, Any]]:
        question_embedding = self.generate_embedding(question)
        similarities = [cosine_similarity([question_embedding], [item["embedding"]])[0][0] for item in self.ddl_store]
        sorted_indices = np.argsort(similarities)[::-1]
        return [self.ddl_store[i] for i in sorted_indices[:5]]  # Return top 5 related DDLs

    def get_related_documentation(self, question: str, **kwargs) -> List[Dict[str, Any]]:
        question_embedding = self.generate_embedding(question)
        similarities = [cosine_similarity([question_embedding], [item["embedding"]])[0][0] for item in self.doc_store]
        sorted_indices = np.argsort(similarities)[::-1]
        return [self.doc_store[i] for i in sorted_indices[:5]]  # Return top 5 related docs

    def get_similar_question_sql(self, question: str, **kwargs) -> List[Dict[str, Any]]:
        question_embedding = self.generate_embedding(question)
        similarities = [cosine_similarity([question_embedding], [item["embedding"]])[0][0] for item in self.question_sql_store]
        sorted_indices = np.argsort(similarities)[::-1]
        return [self.question_sql_store[i] for i in sorted_indices[:5]]  # Return top 5 similar questions

    def get_training_data(self, **kwargs) -> pd.DataFrame:
        data = []
        for store in [self.ddl_store, self.doc_store, self.question_sql_store]:
            data.extend(store)
        return pd.DataFrame(data)

    def remove_training_data(self, id: str, **kwargs) -> bool:
        for store in [self.ddl_store, self.doc_store, self.question_sql_store]:
            for item in store:
                if item["id"] == id:
                    store.remove(item)
                    return True
        return False

    def generate_embedding(self, text: str, **kwargs) -> np.ndarray:
        
        return self.embedding_model.encode(text)

class MyVanna(MyCustomVectorDB, Ollama):
    def __init__(self, config=None):
        MyCustomVectorDB.__init__(self, config=config)
        Ollama.__init__(self, config=config)

vn = MyVanna(config={'model': 'qwen2.5:3b'})

c:\Users\SIVERMA\Documents\Experimenting\NLCHATBOT\NLCHATBOT\Lib\site-packages\transformers\tokenization_utils_base.py:1617: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be deprecated in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [79]:
# vn.connect_to_sqlite("extracted.db") 
vn.connect_to_sqlite("chinook.db")

## Training
You only need to train once. Do not train again unless you want to add more training data.

In [80]:

# df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# plan = vn.get_training_plan_generic(df_information_schema)
# plan



#   Incase using sqllite 

df_information_schema = vn.run_sql("SELECT name FROM sqlite_master WHERE type='table';")
df_information_schema

               name
0            albums
1   sqlite_sequence
2           artists
3         customers
4         employees
5            genres
6          invoices
7     invoice_items
8       media_types
9         playlists
10   playlist_track
11           tracks
12     sqlite_stat1

In [81]:
vn.run_sql("select * from artists")

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [82]:
# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships

vn.train(ddl="""
    CREATE TABLE IF NOT EXISTS artists (
        ArtistId INT PRIMARY KEY,
        Name VARCHAR(100)
    )
""")

# # Sometimes you may want to add documentation about your business terminology or definitions.
vn.train(documentation="""The Chinook sample database has 11 tables as follows:

 employees table stores employee data such as id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.
 customers table stores customer data.
 invoices & invoice_items tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.
 artists table stores artist data. It is a simple table that contains the id and name.
 albums table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
 media_types table stores media types such as MPEG audio and AAC audio files.
 genres table stores music types such as rock, jazz, metal, etc.
 tracks table stores the data of songs. Each track belongs to one album.
 playlists & playlist_track tables: playlists table stores data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists and tracks tables is many-to-many. The playlist_track table is used to reflect this relationship.""")

# # You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn.train(sql="SELECT * FROM ArtistId WHERE name = 'Alice In Chains'")

Adding ddl:
    CREATE TABLE IF NOT EXISTS artists (
        ArtistId INT PRIMARY KEY,
        Name VARCHAR(100)
    )

Adding documentation....
Info: Ollama parameters:
model=qwen2.5:3b,
options={},
keep_alive=None
Info: Prompt Content:
[{"role": "system", "content": "The user will give you SQL and you will try to guess what the business question this query is answering. Return just the question without any additional explanation. Do not reference the table name in the question."}, {"role": "user", "content": "SELECT * FROM ArtistId WHERE name = 'Alice In Chains'"}]
Info: Ollama Response:
{'model': 'qwen2.5:3b', 'created_at': '2024-10-03T12:53:42.2162659Z', 'message': {'role': 'assistant', 'content': 'Which artist named Alice In Chains has been selected?'}, 'done_reason': 'stop', 'done': True, 'total_duration': 1611557900, 'load_duration': 45436700, 'prompt_eval_count': 66, 'prompt_eval_duration': 185276000, 'eval_count': 11, 'eval_duration': 1338398000}
Question generated with sql: Which artist named Alice In Chains has been selected?
Adding SQL...

'3'

In [83]:
len(vn.get_training_data()["embedding"].iloc[0]), vn.get_training_data().shape

(384, (3, 6))

In [84]:
# At any time you can inspect what training data the package is able to reference
vn.get_training_data()

,id,ddl,embedding,doc,question,sql
0,1,\n CREATE TABLE IF NOT EXISTS artists (\n ...,"[0.052741796, 0.09199007, -0.01904367, 0.33062...",NaN,NaN,NaN
1,2,NaN,"[-0.007958114, 0.22179422, -0.27661943, -0.105...",The Chinook sample database has 11 tables as f...,NaN,NaN
2,3,NaN,"[-0.09543198, -0.46606335, 0.025037458, 0.5979...",NaN,Which artist named Alice In Chains has been se...,SELECT * FROM ArtistId WHERE name = 'Alice In ...

In [85]:
# You can remove training data if there's obsolete/incorrect information.
vn.remove_training_data(id='1')

True

## Asking the AI
Whenever you ask a new question, it will find the 10 most relevant pieces of training data and use it as part of the LLM prompt to generate the SQL.

In [86]:
vn.ask(question="print top 10 rows from playlist_track")

SQL Prompt: [{'role': 'system', 'content': "You are a SQLite expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Additional Context \n\n{'id': '2', 'doc': 'The Chinook sample database has 11 tables as follows:\\n\\n employees table stores employee data such as id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.\\n customers table stores customer data.\\n invoices & invoice_items tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.\\n artists table stores artist data. It is a simple table that contains the id and name.\\n albums table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.\\n media_types table stores media types such as MPEG audio and AAC audio files.\\n genres table stores music types such as rock, jazz, metal, etc.\\n tracks table stores the data of songs. Each track belongs to one album.\\n playlists & playlist_track tables: playlists table stores data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists and tracks tables is many-to-many. The playlist_track table is used to reflect this relationship.', 'embedding': array([-0.00795811,  0.22179422, -0.27661943, -0.10549255,  0.0028117 ,\n        0.04839916,  0.07186998, -0.07417828,  0.19160645,  0.11788267,\n        0.04809039, -0.39135247,  0.27628285, -0.4465885 , -0.13560323,\n       -0.30557725, -0.18853676,  0.1475083 ,  0.07256325, -0.1677157 ,\n       -0.1774404 , -0.04598799, -0.22099634,  0.20864162, -0.12128374,\n       -0.07159734, -0.01255666,  0.0981887 , -0.19989109, -0.15431654,\n        0.15057206,  0.17748222,  0.18402433,  0.24363765,  0.326261  ,\n       -0.08131971, -0.01060104, -0.20094787, -0.03356851,  0.20221592,\n        0.16240487, -0.19803156, -0.02182835, -0.1644971 , -0.03126342,\n        0.00772305, -0.17565255, -0.07484721, -0.21743733,  0.1382177 ,\n       -0.25975955,  0.2563856 ,  0.22423933,  0.23840606, -0.24722937,\n        0.04105893,  0.0090858 , -0.14672981, -0.05736006, -0.04738259,\n        0.13382918, -0.15138046, -0.17322028, -0.12723868, -0.28487122,\n        0.28922135,  0.07941558,  0.14198756, -0.0462343 , -0.28065723,\n        0.07052499,  0.1462657 , -0.18186188,  0.20746611,  0.00511741,\n        0.00588181, -0.15216024, -0.00592627, -0.10148091, -0.09588654,\n       -0.30283663, -0.09947457,  0.10118097,  0.06109675, -0.09994011,\n       -0.1589151 ,  0.10234344, -0.06651427,  0.01771662, -0.00678935,\n        0.23081562,  0.17945926, -0.08367734, -0.19140626, -0.11853258,\n        0.16829947, -0.14118332,  0.15587607,  0.2149711 ,  0.15503334,\n       -0.01689707,  0.09665219, -0.1074646 , -0.17207858, -0.0648302 ,\n       -0.07766309,  0.02585789, -0.14351757, -0.12985122,  0.10687172,\n        0.07625157, -0.10142863, -0.27201343, -0.30829924,  0.30572298,\n       -0.06567559, -0.17798911,  0.02402338, -0.2625382 , -0.00979665,\n        0.1587238 ,  0.12595485,  0.11459909,  0.36220023,  0.2208232 ,\n        0.17119914, -0.13212408, -0.07269446,  0.2029946 , -0.21736875,\n        0.29611385, -0.03294618, -0.03531145,  0.19701381, -0.15484789,\n       -0.06651855,  0.11744832, -0.03365312, -0.08636051,  0.16589989,\n        0.06178089,  0.12740651, -0.14043151,  0.22901297, -0.11460468,\n        0.44860587, -0.2643294 , -0.33005294,  0.03939833, -0.01218666,\n        0.17147186,  0.09068038,  0.10197722,  0.42024764, -0.22773059,\n        0.18026775,  0.00946017, -0.0223935 ,  0.30397806, -0.19576848,\n        0.02685411,  0.04064915, -0.39991024,  0.2286241 , -0.15277228,\n       -0.13740087, -0.00197615,  0.03535074, -0.0132599 ,  0.08673427,\n        0.12126867,  0.10154384, -0.1916909 , -0.01344802,  0.13900906,\n       -0.0969089 ,  0.02509573, -0.03618718,  0.07356468, -0.19740422,\n       -0.08294864,  0.27295333,  0.19902493, -0.11291943,  0.00941013,\n       -0.31776947,  0.06767674, -0.03132154,  0.12409687,  0.0950304 ,\n       -0.3804098 ,  0.16163583,  0.4078682 ,  0.13076098, -0.00249025,\n       -0.29272324,  0.30975112, -0.33360314, -0.12146631, -0.18274252,\n       -0.22442572,  0.3400829 , -0.3293674 , -0.16605416,  0.09866041,\n        0.09915522, -0.0383907 ,  0.17162053,  0.33078814,  0.01374429,\n       -0.14880164, -0.17407958, -0.35215017,  0.25585884,  0.27577004,\n       -0.21073093, -0.34224188,  0.19072641,  0.18429333, -0.18519981,\n       -0.27379856, -0.01261936, -0.00104926, -0.12790439, -0.2509607 ,\n        0.04791941, -0.12626058, -0.26399755,  0.41056108, -0.20343421,\n        0.32908878, -0.07335866,  0.21123798,  0.04238751, -0.09724782,\n       -0.15481648, -0.02786422, -0.11690553,  0.10139636, -0.11127163,\n        0.10355271,  0.0234827 , -0.05756439,  0.05387532, -0.17280689,\n        0.21199821, -0.21238972,  0.15429062, -0.04001563,  0.10386977,\n        0.11764321, -0.4448656 ,  0.07605337, -0.10294019, -0.0043742 ,\n       -0.25355446, -0.045841  ,  0.31749514, -0.15218815, -0.20894927,\n        0.05650149, -0.10531083,  0.28305894,  0.13715121,  0.06997071,\n       -0.0502726 ,  0.11830967,  0.02040742, -0.00411016,  0.01702452,\n       -0.10549711, -0.11688925,  0.00708119, -0.05493534, -0.32522222,\n        0.08974031,  0.01159253, -0.07852812,  0.07739219,  0.10193042,\n        0.15853763, -0.035747  ,  0.11557756, -0.1458324 , -0.17229438,\n       -0.25842294,  0.03527637,  0.1430815 , -0.06839211,  0.3551832 ,\n        0.12513517, -0.02060114, -0.11938267,  0.03446928, -0.02294353,\n       -0.36863244,  0.13426124, -0.1651598 , -0.02181035, -0.07900001,\n       -0.28877246, -0.00313335,  0.3290718 , -0.16102608, -0.13303107,\n        0.07962617,  0.06751331,  0.03919398,  0.06336322, -0.06145397,\n        0.24834073, -0.08561581,  0.20581046, -0.01683175, -0.16139527,\n       -0.04989846, -0.00376847,  0.2622828 ,  0.22924006, -0.13376054,\n        0.05454803, -0.07138795,  0.35906434,  0.49604177,  0.05410571,\n       -0.43418953,  0.03857496,  0.23576094,  0.01842577,  0.08459552,\n        0.00244311, -0.03808608,  0.03011679, -0.04414413,  0.32075813,\n       -0.10990746,  0.03301747,  0.2824329 , -0.02971363, -0.190756  ,\n        0.16579486,  0.11296061, -0.15754089, -0.19856927, -0.09555089,\n        0.1553203 , -0.20492478,  0.29792273, -0.06616033,  0.11813848,\n        0.297177  ,  0.16699386,  0.11051851, -0.10345148,  0.5009738 ,\n       -0.09453769, -0.19134581,  0.1688752 , -0.08893348, -0.3654712 ,\n        0.10517511,  0.30100518,  0.00617946, -0.03288309,  0.00416022,\n       -0.02533427, -0.1402782 ,  0.1313909 ,  0.31640658,  0.13459548,\n       -0.5186607 , -0.11185251,  0.28787428, -0.00177444, -0.3252463 ,\n        0.40936503,  0.40525088, -0.3878644 ,  0.3685056 ,  0.13873047,\n        0.04421433,  0.12228697, -0.2190288 , -0.06297487], dtype=float32)}\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQLite-compliant and executable, and free of syntax errors. \n"}, {'role': 'user', 'content': 'Which artist named Alice In Chains has been selected?'}, {'role': 'assistant', 'content': "SELECT * FROM ArtistId WHERE name = 'Alice In Chains'"}, {'role': 'user', 'content': 'print top 10 rows from playlist_track'}]
Info: Ollama parameters:
model=qwen2.5:3b,
options={},
keep_alive=None
Info: Prompt Content:
[{"role": "system", "content": "You are a SQLite expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Additional Context \n\n{'id': '2', 'doc': 'The Chinook sample database has 11 tables as follows:\\n\\n employees table stores employee data such as id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.\\n customers table stores customer data.\\n invoices & invoice_items tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.\\n artists table stores artist data. It is a simple table that contains the id and name.\\n albums table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.\\n media_types table stores media types such as MPEG audio and AAC audio files.\\n genres table stores music types such as rock, jazz, metal, etc.\\n tracks table stores the data of songs. Each track belongs to one album.\\n playlists & playlist_track tables: playlists table stores data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists and tracks tables is many-to-many. The playlist_track table is used to reflect this relationship.', 'embedding': array([-0.00795811,  0.22179422, -0.27661943, -0.10549255,  0.0028117 ,\n        0.04839916,  0.07186998, -0.07417828,  0.19160645,  0.11788267,\n        0.04809039, -0.39135247,  0.27628285, -0.4465885 , -0.13560323,\n       -0.30557725, -0.18853676,  0.1475083 ,  0.07256325, -0.1677157 ,\n       -0.1774404 , -0.04598799, -0.22099634,  0.20864162, -0.12128374,\n       -0.07159734, -0.01255666,  0.0981887 , -0.19989109, -0.15431654,\n        0.15057206,  0.17748222,  0.18402433,  0.24363765,  0.326261  ,\n       -0.08131971, -0.01060104, -0.20094787, -0.03356851,  0.20221592,\n        0.16240487, -0.19803156, -0.02182835, -0.1644971 , -0.03126342,\n        0.00772305, -0.17565255, -0.07484721, -0.21743733,  0.1382177 ,\n       -0.25975955,  0.2563856 ,  0.22423933,  0.23840606, -0.24722937,\n        0.04105893,  0.0090858 , -0.14672981, -0.05736006, -0.04738259,\n        0.13382918, -0.15138046, -0.17322028, -0.12723868, -0.28487122,\n        0.28922135,  0.07941558,  0.14198756, -0.0462343 , -0.28065723,\n        0.07052499,  0.1462657 , -0.18186188,  0.20746611,  0.00511741,\n        0.00588181, -0.15216024, -0.00592627, -0.10148091, -0.09588654,\n       -0.30283663, -0.09947457,  0.10118097,  0.06109675, -0.09994011,\n       -0.1589151 ,  0.10234344, -0.06651427,  0.01771662, -0.00678935,\n        0.23081562,  0.17945926, -0.08367734, -0.19140626, -0.11853258,\n        0.16829947, -0.14118332,  0.15587607,  0.2149711 ,  0.15503334,\n       -0.01689707,  0.09665219, -0.1074646 , -0.17207858, -0.0648302 ,\n       -0.07766309,  0.02585789, -0.14351757, -0.12985122,  0.10687172,\n        0.07625157, -0.10142863, -0.27201343, -0.30829924,  0.30572298,\n       -0.06567559, -0.17798911,  0.02402338, -0.2625382 , -0.00979665,\n        0.1587238 ,  0.12595485,  0.11459909,  0.36220023,  0.2208232 ,\n        0.17119914, -0.13212408, -0.07269446,  0.2029946 , -0.21736875,\n        0.29611385, -0.03294618, -0.03531145,  0.19701381, -0.15484789,\n       -0.06651855,  0.11744832, -0.03365312, -0.08636051,  0.16589989,\n        0.06178089,  0.12740651, -0.14043151,  0.22901297, -0.11460468,\n        0.44860587, -0.2643294 , -0.33005294,  0.03939833, -0.01218666,\n        0.17147186,  0.09068038,  0.10197722,  0.42024764, -0.22773059,\n        0.18026775,  0.00946017, -0.0223935 ,  0.30397806, -0.19576848,\n        0.02685411,  0.04064915, -0.39991024,  0.2286241 , -0.15277228,\n       -0.13740087, -0.00197615,  0.03535074, -0.0132599 ,  0.08673427,\n        0.12126867,  0.10154384, -0.1916909 , -0.01344802,  0.13900906,\n       -0.0969089 ,  0.02509573, -0.03618718,  0.07356468, -0.19740422,\n       -0.08294864,  0.27295333,  0.19902493, -0.11291943,  0.00941013,\n       -0.31776947,  0.06767674, -0.03132154,  0.12409687,  0.0950304 ,\n       -0.3804098 ,  0.16163583,  0.4078682 ,  0.13076098, -0.00249025,\n       -0.29272324,  0.30975112, -0.33360314, -0.12146631, -0.18274252,\n       -0.22442572,  0.3400829 , -0.3293674 , -0.16605416,  0.09866041,\n        0.09915522, -0.0383907 ,  0.17162053,  0.33078814,  0.01374429,\n       -0.14880164, -0.17407958, -0.35215017,  0.25585884,  0.27577004,\n       -0.21073093, -0.34224188,  0.19072641,  0.18429333, -0.18519981,\n       -0.27379856, -0.01261936, -0.00104926, -0.12790439, -0.2509607 ,\n        0.04791941, -0.12626058, -0.26399755,  0.41056108, -0.20343421,\n        0.32908878, -0.07335866,  0.21123798,  0.04238751, -0.09724782,\n       -0.15481648, -0.02786422, -0.11690553,  0.10139636, -0.11127163,\n        0.10355271,  0.0234827 , -0.05756439,  0.05387532, -0.17280689,\n        0.21199821, -0.21238972,  0.15429062, -0.04001563,  0.10386977,\n        0.11764321, -0.4448656 ,  0.07605337, -0.10294019, -0.0043742 ,\n       -0.25355446, -0.045841  ,  0.31749514, -0.15218815, -0.20894927,\n        0.05650149, -0.10531083,  0.28305894,  0.13715121,  0.06997071,\n       -0.0502726 ,  0.11830967,  0.02040742, -0.00411016,  0.01702452,\n       -0.10549711, -0.11688925,  0.00708119, -0.05493534, -0.32522222,\n        0.08974031,  0.01159253, -0.07852812,  0.07739219,  0.10193042,\n        0.15853763, -0.035747  ,  0.11557756, -0.1458324 , -0.17229438,\n       -0.25842294,  0.03527637,  0.1430815 , -0.06839211,  0.3551832 ,\n        0.12513517, -0.02060114, -0.11938267,  0.03446928, -0.02294353,\n       -0.36863244,  0.13426124, -0.1651598 , -0.02181035, -0.07900001,\n       -0.28877246, -0.00313335,  0.3290718 , -0.16102608, -0.13303107,\n        0.07962617,  0.06751331,  0.03919398,  0.06336322, -0.06145397,\n        0.24834073, -0.08561581,  0.20581046, -0.01683175, -0.16139527,\n       -0.04989846, -0.00376847,  0.2622828 ,  0.22924006, -0.13376054,\n        0.05454803, -0.07138795,  0.35906434,  0.49604177,  0.05410571,\n       -0.43418953,  0.03857496,  0.23576094,  0.01842577,  0.08459552,\n        0.00244311, -0.03808608,  0.03011679, -0.04414413,  0.32075813,\n       -0.10990746,  0.03301747,  0.2824329 , -0.02971363, -0.190756  ,\n        0.16579486,  0.11296061, -0.15754089, -0.19856927, -0.09555089,\n        0.1553203 , -0.20492478,  0.29792273, -0.06616033,  0.11813848,\n        0.297177  ,  0.16699386,  0.11051851, -0.10345148,  0.5009738 ,\n       -0.09453769, -0.19134581,  0.1688752 , -0.08893348, -0.3654712 ,\n        0.10517511,  0.30100518,  0.00617946, -0.03288309,  0.00416022,\n       -0.02533427, -0.1402782 ,  0.1313909 ,  0.31640658,  0.13459548,\n       -0.5186607 , -0.11185251,  0.28787428, -0.00177444, -0.3252463 ,\n        0.40936503,  0.40525088, -0.3878644 ,  0.3685056 ,  0.13873047,\n        0.04421433,  0.12228697, -0.2190288 , -0.06297487], dtype=float32)}\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQLite-compliant and executable, and free of syntax errors. \n"}, {"role": "user", "content": "Which artist named Alice In Chains has been selected?"}, {"role": "assistant", "content": "SELECT * FROM ArtistId WHERE name = 'Alice In Chains'"}, {"role": "user", "content": "print top 10 rows from playlist_track"}]
Info: Ollama Response:
{'model': 'qwen2.5:3b', 'created_at': '2024-10-03T12:54:48.984691Z', 'message': {'role': 'assistant', 'content': '```sql\nSELECT * FROM playlist_track LIMIT 10;\n```'}, 'done_reason': 'stop', 'done': True, 'total_duration': 57788775800, 'load_duration': 94565400, 'prompt_eval_count': 1026, 'prompt_eval_duration': 55660618000, 'eval_count': 15, 'eval_duration': 1885693000}
LLM Response: ```sql
SELECT * FROM playlist_track LIMIT 10;
```
Info: Output from LLM: ```sql
SELECT * FROM playlist_track LIMIT 10;
```
Extracted SQL: SELECT * FROM playlist_track LIMIT 10
SELECT * FROM playlist_track LIMIT 10
   PlaylistId  TrackId
0           1     3402
1           1     3389
2           1     3390
3           1     3391
4           1     3392
5           1     3393
6           1     3394
7           1     3395
8           1     3396
9           1     3397
Info: Ollama parameters:
model=qwen2.5:3b,
options={},
keep_alive=None
Info: Prompt Content:
[{"role": "system", "content": "The following is a pandas DataFrame that contains the results of the query that answers the question the user asked: 'print top 10 rows from playlist_track'\n\nThe DataFrame was produced using this query: SELECT * FROM playlist_track LIMIT 10\n\nThe following is information about the resulting pandas DataFrame 'df': \nRunning df.dtypes gives:\n PlaylistId    int64\nTrackId       int64\ndtype: object"}, {"role": "user", "content": "Can you generate the Python plotly code to chart the results of the dataframe? Assume the data is in a pandas dataframe called 'df'. If there is only one value in the dataframe, use an Indicator. Respond with only Python code. Do not answer with any explanations -- just the code."}]
Info: Ollama Response:
{'model': 'qwen2.5:3b', 'created_at': '2024-10-03T12:55:10.7660021Z', 'message': {'role': 'assistant', 'content': '```python\nimport plotly.graph_objs as go\n\ndata = [\n    go.Indicator(\n        mode="number+delta",\n        value=df.iloc[0].sum(),\n        delta={"increaseIndicatorColor": "green", "decreaseIndicatorColor": "red"},\n        domain={"x": [0, 1], "y": [0, 1]}\n    )\n]\n\nlayout = go.Layout(title=\'Top Track Metrics\')\n\nfig = go.Figure(data=data, layout=layout)\nfig.show()\n```'}, 'done_reason': 'stop', 'done': True, 'total_duration': 21756419000, 'load_duration': 35785700, 'prompt_eval_count': 158, 'prompt_eval_duration': 9200452000, 'eval_count': 104, 'eval_duration': 12473709000}

# USING OPENAI

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from typing import List, Dict, Any
from vanna.openai import OpenAI_Chat
from openai import AzureOpenAI
from vanna.vannadb import VannaDB_VectorStore
from vanna.base import VannaBase
from sentence_transformers import SentenceTransformer



class MyCustomVectorDB(VannaBase):
    def __init__(self, config={}):
        print(config)
        super().__init__(config=config)
        self.ddl_store = []
        self.doc_store = []
        self.question_sql_store = []
        self.id = 0
        self.embedding_model = SentenceTransformer("./Embd_Models/paraphrase-multilingual-MiniLM-L12-v2")  # You'll need to initialize this with your preferred embedding model
        self.config = config
        self.max_tokens = 1024
        self.static_documentation = ""
        self.dialect = ""
        self.temperature = config["temperature"]
        
        
    def add_ddl(self, ddl: str, **kwargs) -> str:
        self.id += 1
        id = str(self.id)
        self.ddl_store.append({"id": id, "ddl": ddl, "embedding": self.generate_embedding(ddl)})
        return id

    def add_documentation(self, doc: str, **kwargs) -> str:
        self.id += 1

        id = str(self.id)
        self.doc_store.append({"id": id, "doc": doc, "embedding": self.generate_embedding(doc)})
        return id

    def add_question_sql(self, question: str, sql: str, **kwargs) -> str:

        self.id += 1
        id = str(self.id)
        self.question_sql_store.append({
            "id": id,
            "question": question,
            "sql": sql,
            "embedding": self.generate_embedding(question)
        })
        return id

    def get_related_ddl(self, question: str, **kwargs) -> List[Dict[str, Any]]:
        question_embedding = self.generate_embedding(question)
        similarities = [cosine_similarity([question_embedding], [item["embedding"]])[0][0] for item in self.ddl_store]
        sorted_indices = np.argsort(similarities)[::-1]
        return [self.ddl_store[i] for i in sorted_indices[:5]]  # Return top 5 related DDLs

    def get_related_documentation(self, question: str, **kwargs) -> List[Dict[str, Any]]:
        question_embedding = self.generate_embedding(question)
        similarities = [cosine_similarity([question_embedding], [item["embedding"]])[0][0] for item in self.doc_store]
        sorted_indices = np.argsort(similarities)[::-1]
        return [self.doc_store[i] for i in sorted_indices[:5]]  # Return top 5 related docs

    def get_similar_question_sql(self, question: str, **kwargs) -> List[Dict[str, Any]]:
        question_embedding = self.generate_embedding(question)
        similarities = [cosine_similarity([question_embedding], [item["embedding"]])[0][0] for item in self.question_sql_store]
        sorted_indices = np.argsort(similarities)[::-1]
        return [self.question_sql_store[i] for i in sorted_indices[:5]]  # Return top 5 similar questions

    def get_training_data(self, **kwargs) -> pd.DataFrame:
        data = []
        for store in [self.ddl_store, self.doc_store, self.question_sql_store]:
            data.extend(store)
        return pd.DataFrame(data)

    def remove_training_data(self, id: str, **kwargs) -> bool:
        for store in [self.ddl_store, self.doc_store, self.question_sql_store]:
            for item in store:
                if item["id"] == id:
                    store.remove(item)
                    return True
        return False

    def generate_embedding(self, text: str, **kwargs) -> np.ndarray:
        
        return self.embedding_model.encode(text)

class MyVanna(MyCustomVectorDB, OpenAI_Chat):
    def __init__(self, config={}):
        OpenAI_Chat.__init__(self, client = AzureOpenAI(
                                                api_key='XXXXXXXXxxxxxxxxxxxxxx',  
                                                api_version="xxxxxxxxxxxxxxxxxx",
                                                azure_endpoint='XXxxxxxxxxxxXXXXXXXXXXXXXXX',
                                            ), config=config)
        MyCustomVectorDB.__init__(self, config=config)
        
        
vn_OAI = MyVanna(config={'temperature':0.1,'model':"xxxxxxxxxxxxxxxxxxxxXXXXXXx"})

c:\Users\SIVERMA\Documents\Experimenting\NLCHATBOT\NLCHATBOT\Lib\site-packages\sentence_transformers\cross_encoder\CrossEncoder.py:11: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm, trange

{'temperature': 0.1, 'model': 'NA-MS-OpenAI-gpt-4o-min-Tools'}

c:\Users\SIVERMA\Documents\Experimenting\NLCHATBOT\NLCHATBOT\Lib\site-packages\transformers\tokenization_utils_base.py:1617: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be deprecated in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [2]:
# vn.connect_to_sqlite("extracted.db") 
# vn_OAI.connect_to_sqlite("chinook.db")

# Now we will do postgres

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
vn_OAI.connect_to_postgres(
    host='localhost',
    dbname='Vanna_db',
    user="postgres",
    password="Moodle",
    port=5432
)

In [5]:
df_information_schema = vn_OAI.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn_OAI.get_training_plan_generic(df_information_schema)
plan

Train on Information Schema: Vanna_db.pg_catalog pg_type
Train on Information Schema: Vanna_db.pg_catalog pg_class
Train on Information Schema: Vanna_db.pg_catalog pg_stat_ssl
Train on Information Schema: Vanna_db.pg_catalog pg_index
Train on Information Schema: Vanna_db.pg_catalog pg_attribute
Train on Information Schema: Vanna_db.pg_catalog pg_shseclabel
Train on Information Schema: Vanna_db.pg_catalog pg_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_collation
Train on Information Schema: Vanna_db.pg_catalog pg_database
Train on Information Schema: Vanna_db.pg_catalog pg_amproc
Train on Information Schema: Vanna_db.pg_catalog pg_stat_database
Train on Information Schema: Vanna_db.pg_catalog pg_default_acl
Train on Information Schema: Vanna_db.pg_catalog pg_stat_user_tables
Train on Information Schema: Vanna_db.pg_catalog pg_largeobject
Train on Information Schema: Vanna_db.pg_catalog pg_statio_sys_tables
Train on Information Schema: Vanna_db.pg_catalog pg_shadow
Train on Information Schema: Vanna_db.pg_catalog pg_locks
Train on Information Schema: Vanna_db.pg_catalog pg_available_extensions
Train on Information Schema: Vanna_db.pg_catalog pg_stat_bgwriter
Train on Information Schema: Vanna_db.pg_catalog pg_ts_config
Train on Information Schema: Vanna_db.pg_catalog pg_stat_all_tables
Train on Information Schema: Vanna_db.pg_catalog pg_stat_sys_tables
Train on Information Schema: Vanna_db.pg_catalog pg_cast
Train on Information Schema: Vanna_db.pg_catalog pg_enum
Train on Information Schema: Vanna_db.pg_catalog pg_stat_xact_user_functions
Train on Information Schema: Vanna_db.pg_catalog pg_stat_sys_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_stat_activity
Train on Information Schema: Vanna_db.pg_catalog pg_stat_replication
Train on Information Schema: Vanna_db.pg_catalog pg_rewrite
Train on Information Schema: Vanna_db.pg_catalog pg_depend
Train on Information Schema: Vanna_db.pg_catalog pg_available_extension_versions
Train on Information Schema: Vanna_db.pg_catalog pg_tables
Train on Information Schema: Vanna_db.pg_catalog pg_sequence
Train on Information Schema: Vanna_db.pg_catalog pg_stat_io
Train on Information Schema: Vanna_db.pg_catalog pg_largeobject_metadata
Train on Information Schema: Vanna_db.pg_catalog pg_hba_file_rules
Train on Information Schema: Vanna_db.pg_catalog pg_stat_wal_receiver
Train on Information Schema: Vanna_db.pg_catalog pg_statio_user_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_subscription
Train on Information Schema: Vanna_db.pg_catalog pg_statio_user_tables
Train on Information Schema: Vanna_db.pg_catalog pg_policy
Train on Information Schema: Vanna_db.pg_catalog pg_publication_tables
Train on Information Schema: Vanna_db.pg_catalog pg_sequences
Train on Information Schema: Vanna_db.pg_catalog pg_stats_ext
Train on Information Schema: Vanna_db.pg_catalog pg_user_mappings
Train on Information Schema: Vanna_db.pg_catalog pg_stat_all_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_foreign_server
Train on Information Schema: Vanna_db.pg_catalog pg_stat_progress_create_index
Train on Information Schema: Vanna_db.pg_catalog pg_trigger
Train on Information Schema: Vanna_db.pg_catalog pg_file_settings
Train on Information Schema: Vanna_db.pg_catalog pg_stat_xact_sys_tables
Train on Information Schema: Vanna_db.pg_catalog pg_stat_user_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_event_trigger
Train on Information Schema: Vanna_db.pg_catalog pg_stats_ext_exprs
Train on Information Schema: Vanna_db.pg_catalog pg_user
Train on Information Schema: Vanna_db.pg_catalog pg_auth_members
Train on Information Schema: Vanna_db.pg_catalog pg_replication_slots
Train on Information Schema: Vanna_db.pg_catalog pg_attrdef
Train on Information Schema: Vanna_db.pg_catalog pg_settings
Train on Information Schema: Vanna_db.pg_catalog pg_stat_database_conflicts
Train on Information Schema: Vanna_db.pg_catalog pg_ident_file_mappings
Train on Information Schema: Vanna_db.pg_catalog pg_seclabel
Train on Information Schema: Vanna_db.pg_catalog pg_aggregate
Train on Information Schema: Vanna_db.pg_catalog pg_ts_template
Train on Information Schema: Vanna_db.pg_catalog pg_proc
Train on Information Schema: Vanna_db.pg_catalog pg_authid
Train on Information Schema: Vanna_db.pg_catalog pg_stat_gssapi
Train on Information Schema: Vanna_db.pg_catalog pg_stat_progress_copy
Train on Information Schema: Vanna_db.pg_catalog pg_stat_progress_cluster
Train on Information Schema: Vanna_db.pg_catalog pg_stat_progress_analyze
Train on Information Schema: Vanna_db.pg_catalog pg_prepared_statements
Train on Information Schema: Vanna_db.pg_catalog pg_statio_all_tables
Train on Information Schema: Vanna_db.pg_catalog pg_tablespace
Train on Information Schema: Vanna_db.pg_catalog pg_constraint
Train on Information Schema: Vanna_db.pg_catalog pg_stat_xact_user_tables
Train on Information Schema: Vanna_db.pg_catalog pg_shdepend
Train on Information Schema: Vanna_db.pg_catalog pg_statistic
Train on Information Schema: Vanna_db.pg_catalog pg_description
Train on Information Schema: Vanna_db.pg_catalog pg_operator
Train on Information Schema: Vanna_db.pg_catalog pg_publication_rel
Train on Information Schema: Vanna_db.pg_catalog pg_stat_xact_all_tables
Train on Information Schema: Vanna_db.pg_catalog pg_cursors
Train on Information Schema: Vanna_db.pg_catalog pg_language
Train on Information Schema: Vanna_db.pg_catalog pg_transform
Train on Information Schema: Vanna_db.pg_catalog pg_ts_parser
Train on Information Schema: Vanna_db.pg_catalog pg_timezone_names
Train on Information Schema: Vanna_db.pg_catalog pg_statio_all_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_stats
Train on Information Schema: Vanna_db.pg_catalog pg_db_role_setting
Train on Information Schema: Vanna_db.pg_catalog pg_statistic_ext
Train on Information Schema: Vanna_db.pg_catalog pg_stat_recovery_prefetch
Train on Information Schema: Vanna_db.pg_catalog pg_extension
Train on Information Schema: Vanna_db.pg_catalog pg_foreign_data_wrapper
Train on Information Schema: Vanna_db.pg_catalog pg_stat_wal
Train on Information Schema: Vanna_db.pg_catalog pg_seclabels
Train on Information Schema: Vanna_db.pg_catalog pg_amop
Train on Information Schema: Vanna_db.pg_catalog pg_backend_memory_contexts
Train on Information Schema: Vanna_db.pg_catalog pg_publication
Train on Information Schema: Vanna_db.pg_catalog pg_opclass
Train on Information Schema: Vanna_db.pg_catalog pg_policies
Train on Information Schema: Vanna_db.pg_catalog pg_matviews
Train on Information Schema: Vanna_db.pg_catalog pg_stat_subscription
Train on Information Schema: Vanna_db.pg_catalog pg_replication_origin
Train on Information Schema: Vanna_db.pg_catalog pg_stat_user_functions
Train on Information Schema: Vanna_db.pg_catalog pg_conversion
Train on Information Schema: Vanna_db.pg_catalog pg_partitioned_table
Train on Information Schema: Vanna_db.pg_catalog pg_range
Train on Information Schema: Vanna_db.pg_catalog pg_stat_progress_vacuum
Train on Information Schema: Vanna_db.pg_catalog pg_roles
Train on Information Schema: Vanna_db.pg_catalog pg_stat_slru
Train on Information Schema: Vanna_db.pg_catalog pg_stat_progress_basebackup
Train on Information Schema: Vanna_db.pg_catalog pg_stat_archiver
Train on Information Schema: Vanna_db.pg_catalog pg_user_mapping
Train on Information Schema: Vanna_db.pg_catalog pg_stat_replication_slots
Train on Information Schema: Vanna_db.pg_catalog pg_statio_sys_indexes
Train on Information Schema: Vanna_db.pg_catalog pg_publication_namespace
Train on Information Schema: Vanna_db.pg_catalog pg_ts_dict
Train on Information Schema: Vanna_db.pg_catalog pg_parameter_acl
Train on Information Schema: Vanna_db.pg_catalog pg_statistic_ext_data
Train on Information Schema: Vanna_db.pg_catalog pg_statio_user_sequences
Train on Information Schema: Vanna_db.pg_catalog pg_group
Train on Information Schema: Vanna_db.pg_catalog pg_statio_sys_sequences
Train on Information Schema: Vanna_db.pg_catalog pg_statio_all_sequences
Train on Information Schema: Vanna_db.pg_catalog pg_inherits
Train on Information Schema: Vanna_db.pg_catalog pg_ts_config_map
Train on Information Schema: Vanna_db.pg_catalog pg_init_privs
Train on Information Schema: Vanna_db.pg_catalog pg_foreign_table
Train on Information Schema: Vanna_db.pg_catalog pg_stat_subscription_stats
Train on Information Schema: Vanna_db.pg_catalog pg_rules
Train on Information Schema: Vanna_db.pg_catalog pg_namespace
Train on Information Schema: Vanna_db.pg_catalog pg_views
Train on Information Schema: Vanna_db.pg_catalog pg_prepared_xacts
Train on Information Schema: Vanna_db.pg_catalog pg_opfamily
Train on Information Schema: Vanna_db.pg_catalog pg_am
Train on Information Schema: Vanna_db.pg_catalog pg_shmem_allocations
Train on Information Schema: Vanna_db.pg_catalog pg_timezone_abbrevs
Train on Information Schema: Vanna_db.pg_catalog pg_shdescription
Train on Information Schema: Vanna_db.pg_catalog pg_subscription_rel
Train on Information Schema: Vanna_db.pg_catalog pg_config
Train on Information Schema: Vanna_db.pg_catalog pg_replication_origin_status
Train on Information Schema: Vanna_db.information_schema columns
Train on Information Schema: Vanna_db.information_schema collations
Train on Information Schema: Vanna_db.information_schema parameters
Train on Information Schema: Vanna_db.information_schema usage_privileges
Train on Information Schema: Vanna_db.information_schema role_usage_grants
Train on Information Schema: Vanna_db.information_schema domain_constraints
Train on Information Schema: Vanna_db.information_schema domains
Train on Information Schema: Vanna_db.information_schema tables
Train on Information Schema: Vanna_db.information_schema schemata
Train on Information Schema: Vanna_db.information_schema collation_character_set_applicability
Train on Information Schema: Vanna_db.information_schema view_column_usage
Train on Information Schema: Vanna_db.information_schema routines
Train on Information Schema: Vanna_db.information_schema element_types
Train on Information Schema: Vanna_db.information_schema foreign_data_wrappers
Train on Information Schema: Vanna_db.information_schema column_column_usage
Train on Information Schema: Vanna_db.information_schema administrable_role_authorizations
Train on Information Schema: Vanna_db.information_schema triggers
Train on Information Schema: Vanna_db.information_schema sql_implementation_info
Train on Information Schema: Vanna_db.information_schema attributes
Train on Information Schema: Vanna_db.information_schema role_column_grants
Train on Information Schema: Vanna_db.information_schema role_routine_grants
Train on Information Schema: Vanna_db.information_schema triggered_update_columns
Train on Information Schema: Vanna_db.information_schema view_table_usage
Train on Information Schema: Vanna_db.information_schema constraint_column_usage
Train on Information Schema: Vanna_db.information_schema character_sets
Train on Information Schema: Vanna_db.information_schema foreign_servers
Train on Information Schema: Vanna_db.information_schema table_constraints
Train on Information Schema: Vanna_db.information_schema check_constraint_routine_usage
Train on Information Schema: Vanna_db.information_schema user_defined_types
Train on Information Schema: Vanna_db.information_schema routine_privileges
Train on Information Schema: Vanna_db.information_schema role_table_grants
Train on Information Schema: Vanna_db.information_schema sequences
Train on Information Schema: Vanna_db.information_schema applicable_roles
Train on Information Schema: Vanna_db.information_schema data_type_privileges
Train on Information Schema: Vanna_db.information_schema udt_privileges
Train on Information Schema: Vanna_db.information_schema foreign_tables
Train on Information Schema: Vanna_db.information_schema table_privileges
Train on Information Schema: Vanna_db.information_schema _pg_foreign_data_wrappers
Train on Information Schema: Vanna_db.information_schema _pg_foreign_tables
Train on Information Schema: Vanna_db.information_schema role_udt_grants
Train on Information Schema: Vanna_db.information_schema column_udt_usage
Train on Information Schema: Vanna_db.information_schema sql_sizing
Train on Information Schema: Vanna_db.information_schema sql_parts
Train on Information Schema: Vanna_db.information_schema routine_column_usage
Train on Information Schema: Vanna_db.information_schema column_privileges
Train on Information Schema: Vanna_db.information_schema sql_features
Train on Information Schema: Vanna_db.information_schema referential_constraints
Train on Information Schema: Vanna_db.information_schema views
Train on Information Schema: Vanna_db.information_schema routine_sequence_usage
Train on Information Schema: Vanna_db.information_schema routine_table_usage
Train on Information Schema: Vanna_db.information_schema _pg_user_mappings
Train on Information Schema: Vanna_db.information_schema key_column_usage
Train on Information Schema: Vanna_db.information_schema view_routine_usage
Train on Information Schema: Vanna_db.information_schema transforms
Train on Information Schema: Vanna_db.information_schema _pg_foreign_servers
Train on Information Schema: Vanna_db.information_schema domain_udt_usage
Train on Information Schema: Vanna_db.information_schema column_domain_usage
Train on Information Schema: Vanna_db.information_schema foreign_data_wrapper_options
Train on Information Schema: Vanna_db.information_schema routine_routine_usage
Train on Information Schema: Vanna_db.information_schema check_constraints
Train on Information Schema: Vanna_db.information_schema foreign_server_options
Train on Information Schema: Vanna_db.information_schema user_mappings
Train on Information Schema: Vanna_db.information_schema user_mapping_options
Train on Information Schema: Vanna_db.information_schema _pg_foreign_table_columns
Train on Information Schema: Vanna_db.information_schema constraint_table_usage
Train on Information Schema: Vanna_db.information_schema column_options
Train on Information Schema: Vanna_db.information_schema foreign_table_options
Train on Information Schema: Vanna_db.information_schema enabled_roles
Train on Information Schema: Vanna_db.information_schema information_schema_catalog_name
Train on Information Schema: Vanna_db.public film_category
Train on Information Schema: Vanna_db.public film_list
Train on Information Schema: Vanna_db.public customer
Train on Information Schema: Vanna_db.public rental
Train on Information Schema: Vanna_db.public staff_list
Train on Information Schema: Vanna_db.public payment
Train on Information Schema: Vanna_db.public nicer_but_slower_film_list
Train on Information Schema: Vanna_db.public film_actor
Train on Information Schema: Vanna_db.public customer_list
Train on Information Schema: Vanna_db.public inventory
Train on Information Schema: Vanna_db.public actor
Train on Information Schema: Vanna_db.public film
Train on Information Schema: Vanna_db.public address
Train on Information Schema: Vanna_db.public actor_info
Train on Information Schema: Vanna_db.public store
Train on Information Schema: Vanna_db.public staff
Train on Information Schema: Vanna_db.public category
Train on Information Schema: Vanna_db.public city
Train on Information Schema: Vanna_db.public language
Train on Information Schema: Vanna_db.public sales_by_store
Train on Information Schema: Vanna_db.public sales_by_film_category
Train on Information Schema: Vanna_db.public country

In [6]:
vn_OAI.train(plan=plan)

In [7]:

vn_OAI.run_sql("select * from actor")

     actor_id first_name     last_name             last_update
0           1   Penelope       Guiness 2013-05-26 14:47:57.620
1           2       Nick      Wahlberg 2013-05-26 14:47:57.620
2           3         Ed         Chase 2013-05-26 14:47:57.620
3           4   Jennifer         Davis 2013-05-26 14:47:57.620
4           5     Johnny  Lollobrigida 2013-05-26 14:47:57.620
..        ...        ...           ...                     ...
195       196       Bela        Walken 2013-05-26 14:47:57.620
196       197      Reese          West 2013-05-26 14:47:57.620
197       198       Mary        Keitel 2013-05-26 14:47:57.620
198       199      Julia       Fawcett 2013-05-26 14:47:57.620
199       200      Thora        Temple 2013-05-26 14:47:57.620

[200 rows x 4 columns]

In [8]:

vn_OAI.train(ddl="""
    CREATE TABLE IF NOT EXISTS public.actor
    (
        actor_id integer NOT NULL DEFAULT nextval('actor_actor_id_seq'::regclass),
        first_name character varying(45) COLLATE pg_catalog."default" NOT NULL,
        last_name character varying(45) COLLATE pg_catalog."default" NOT NULL,
        last_update timestamp without time zone NOT NULL DEFAULT now(),
        CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
    )

""")

# # Sometimes you may want to add documentation about your business terminology or definitions.
vn_OAI.train(documentation=
"""
This database includes several tables on invoice information, track, album, artist and 
genre data, and employee and customer information related to the store's sales.

always take tables name with schema
"""
)
# # You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn_OAI.train(
    question="each actor with total number of movies he has done",
    sql="""SELECT actor_id,count(*)
	FROM public.film_actor group by actor_id;"""
    )

Adding ddl:
    CREATE TABLE IF NOT EXISTS public.actor
    (
        actor_id integer NOT NULL DEFAULT nextval('actor_actor_id_seq'::regclass),
        first_name character varying(45) COLLATE pg_catalog."default" NOT NULL,
        last_name character varying(45) COLLATE pg_catalog."default" NOT NULL,
        last_update timestamp without time zone NOT NULL DEFAULT now(),
        CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
    )


Adding documentation....

'234'

In [9]:
train_df = vn_OAI.get_training_data()
train_df

,id,ddl,embedding,doc,question,sql
0,232,\n CREATE TABLE IF NOT EXISTS public.actor\...,"[-0.09280895, -0.25158352, 0.0012331698, -0.06...",NaN,NaN,NaN
1,1,NaN,"[-0.1558621, -0.29822505, -0.038410503, -0.061...",The following columns are in the pg_type table...,NaN,NaN
2,2,NaN,"[-0.09900052, -0.17877065, -0.11415465, -0.074...",The following columns are in the pg_class tabl...,NaN,NaN
3,3,NaN,"[-0.12304814, -0.20903876, -0.17474012, -0.082...",The following columns are in the pg_stat_ssl t...,NaN,NaN
4,4,NaN,"[-0.11986724, -0.2495471, -0.0042946, -0.07532...",The following columns are in the pg_index tabl...,NaN,NaN
...,...,...,...,...,...,...
229,229,NaN,"[0.020318149, -0.1613569, -0.10487865, -0.1839...",The following columns are in the sales_by_stor...,NaN,NaN
230,230,NaN,"[0.088094294, -0.23672733, -0.06700921, -0.220...",The following columns are in the sales_by_film...,NaN,NaN
231,231,NaN,"[0.077870354, -0.26746625, 0.01768018, -0.2964...",The following columns are in the country table...,NaN,NaN
232,233,NaN,"[0.030890515, -0.14779232, -0.39689556, -0.003...",\nThis database includes several tables on inv...,NaN,NaN
233,234,NaN,"[-0.08576646, -0.41997847, -0.1770748, -0.2942...",NaN,each actor with total number of movies he has ...,"SELECT actor_id,count(*)\n\tFROM public.film_a..."

In [12]:
vn_OAI.ask(question="how many movies actor 'Penelope' has done?",allow_llm_to_see_data=True)

SQL Prompt: [{'role': 'system', 'content': 'You are a PostgreSQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n{\'id\': \'232\', \'ddl\': \'\\n    CREATE TABLE IF NOT EXISTS public.actor\\n    (\\n        actor_id integer NOT NULL DEFAULT nextval(\\\'actor_actor_id_seq\\\'::regclass),\\n        first_name character varying(45) COLLATE pg_catalog."default" NOT NULL,\\n        last_name character varying(45) COLLATE pg_catalog."default" NOT NULL,\\n        last_update timestamp without time zone NOT NULL DEFAULT now(),\\n        CONSTRAINT actor_pkey PRIMARY KEY (actor_id)\\n    )\\n\\n\', \'embedding\': array([-9.28089470e-02, -2.51583517e-01,  1.23316981e-03, -6.50459751e-02,\n       -4.59224917e-02,  2.11858153e-01,  1.61485046e-01,  1.99935004e-01,\n       -3.14955711e-02,  1.04629859e-01,  1.21128701e-01, -1.05873428e-01,\n        2.06780672e-01,  1.89267009e-01, -1.16851173e-01, -1.58613436e-02,\n       -7.21288547e-02,  1.55873016e-01, -1.33796751e-01,  1.06809720e-01,\n       -8.88453573e-02, -1.16658732e-01,  1.07787162e-01,  1.08687297e-01,\n        5.60233444e-02, -4.81170043e-02,  9.84642580e-02,  5.26320413e-02,\n        4.42883410e-02, -2.40316123e-01,  3.36729996e-02, -6.63052946e-02,\n        1.10098839e-01,  2.18150765e-01,  3.89085598e-02,  1.82489697e-02,\n       -9.54107940e-02, -6.54294435e-03, -2.18687892e-01,  8.44817087e-02,\n       -3.44100557e-02, -1.29532218e-01, -2.73561049e-02, -8.88982862e-02,\n        6.43837675e-02, -1.06524691e-01, -2.58922931e-02,  3.09631974e-02,\n       -2.07018152e-01,  7.88211972e-02, -2.49697119e-01,  7.73028880e-02,\n       -1.07453410e-02, -6.73301294e-02, -3.28740388e-01,  2.92533562e-02,\n       -1.43474147e-01, -1.48072049e-01,  2.96175145e-02, -1.10396728e-01,\n       -1.12911567e-01, -2.21262828e-01, -9.95429605e-02,  6.87551647e-02,\n        5.37594743e-02,  9.27236602e-02, -2.46505886e-02, -1.66475505e-01,\n        2.54864216e-01, -4.08606380e-02,  9.83057693e-02,  1.94862098e-01,\n       -1.29677597e-02,  5.58807552e-02, -8.51735920e-02, -1.45276070e-01,\n       -1.37375981e-01,  1.73597142e-01,  3.14475507e-01,  7.50261471e-02,\n       -2.18763247e-01, -1.41445696e-01, -3.55563709e-03,  1.04300022e-01,\n       -5.31367883e-02, -1.19216576e-01,  1.06476575e-01,  1.31058589e-01,\n       -2.19367072e-01,  3.77849527e-02,  1.88908875e-01,  9.29965824e-02,\n        1.99783415e-01,  5.57824485e-02,  1.19936675e-01, -9.51325297e-02,\n       -1.29527822e-01, -2.03448907e-02, -6.31297752e-02,  1.14956088e-01,\n       -2.86113650e-01, -1.70641884e-01, -3.08139563e-01,  1.44434080e-01,\n       -1.20351575e-01,  4.80411053e-02,  1.81406245e-01, -2.35908374e-01,\n       -8.44641961e-03, -4.14763913e-02, -5.92512079e-02, -1.13745555e-02,\n       -7.64276609e-02, -2.54003592e-02,  1.58798043e-02,  3.71975377e-02,\n        1.68892413e-01,  1.41872372e-02, -1.24583438e-01, -6.59660324e-02,\n        2.71170557e-01, -6.98943064e-02, -1.36840269e-01,  2.22351357e-01,\n        2.62730837e-01,  5.67430556e-02, -2.14844383e-03,  1.39893750e-02,\n       -6.69366419e-02, -2.33150303e-01,  1.94940001e-01, -1.17565386e-01,\n        6.37071133e-02,  1.81458145e-01, -1.59918830e-01, -5.31679019e-02,\n       -2.49002874e-02, -1.11583792e-01, -9.66054723e-02, -1.00993283e-01,\n        5.02646826e-02,  1.49647072e-01, -7.95696601e-02,  1.72226340e-01,\n        1.49783194e-01, -1.16125848e-02,  1.17536113e-01, -1.49427176e-01,\n       -1.31561503e-01,  2.35733673e-01,  5.43377772e-02, -1.82245165e-01,\n       -5.13085956e-03,  2.86788881e-01, -3.82075086e-02, -3.76489460e-02,\n       -9.80381891e-02, -8.10038298e-02,  9.80540961e-02, -1.94240212e-01,\n       -1.05908677e-01,  3.08780789e-01,  8.75614211e-02,  7.14857057e-02,\n       -1.65384412e-02,  7.44761750e-02, -1.06386356e-02,  5.01787104e-02,\n        1.14016190e-01,  1.16330869e-01, -1.56440750e-01,  1.32173687e-01,\n       -3.10120195e-01, -3.09541464e-01,  1.79212332e-01,  9.01421309e-02,\n       -1.52182698e-01,  1.21925557e-02,  1.71424374e-02,  3.18714768e-01,\n       -2.07704380e-02, -1.69987172e-01, -3.34289700e-01,  6.03796169e-02,\n       -2.74830848e-01, -1.02652930e-01, -7.78611824e-02, -1.97833143e-02,\n        2.49290280e-02, -2.24657580e-02, -1.07411876e-01, -1.29192889e-01,\n        1.67330340e-01,  1.54808746e-04,  2.37072650e-02, -1.71053916e-01,\n        4.91215080e-01, -2.74692863e-01,  1.67661056e-01, -1.97402507e-01,\n       -5.38348630e-02,  4.50932942e-02,  7.94092938e-03, -1.05094261e-01,\n        5.47812618e-02,  1.80998370e-02, -5.02462313e-02, -1.02971122e-01,\n       -1.35611534e-01,  1.23507433e-01, -2.37777039e-01, -4.68227118e-02,\n       -2.58651167e-01, -1.36434078e-01,  1.97280943e-01,  3.83398086e-02,\n       -1.18144294e-02,  1.89030960e-01,  2.77734071e-01, -1.02732621e-01,\n       -6.14254437e-02,  1.04859903e-01,  2.81729877e-01, -1.59672037e-01,\n        2.55421788e-01,  1.30765453e-01, -4.33364153e-01, -3.61339673e-02,\n        3.47186662e-02, -3.23691756e-01,  1.18174501e-01, -5.14835864e-02,\n       -8.56993645e-02,  4.85221185e-02, -4.28386480e-02, -2.36789107e-01,\n       -3.25307548e-02,  1.39384819e-02,  9.72542241e-02,  3.63886692e-02,\n       -2.29343861e-01,  1.56017691e-01,  1.03715569e-01, -1.48585796e-01,\n       -9.03704017e-02,  2.01943710e-01, -2.12484777e-01,  5.72587997e-02,\n        5.63030019e-02,  5.03339618e-02, -5.43650091e-02,  2.56329924e-01,\n       -4.63690758e-02,  1.09398976e-01,  5.64810261e-02,  7.18226135e-02,\n        3.25342603e-02, -3.17988172e-02,  1.07183598e-01, -1.41686872e-01,\n       -3.39296833e-03, -1.46330521e-01,  2.27250248e-01,  2.52601206e-01,\n        2.48648785e-02,  5.17409183e-02, -3.27649981e-01, -1.25183478e-01,\n       -3.79098728e-02, -9.52454209e-02,  2.76379466e-01, -1.72982551e-02,\n        1.51151285e-01, -1.80639662e-02, -2.36220345e-01, -2.80325830e-01,\n        1.54804900e-01, -6.65004253e-02,  1.20334029e-01,  1.81263223e-01,\n        3.89269590e-02,  1.29638433e-01,  1.62823662e-01, -2.43916530e-02,\n        1.31431833e-01, -3.40095907e-03,  8.97369906e-02, -8.31862725e-03,\n       -1.07410830e-02,  2.38031238e-01, -2.89067119e-01,  1.62652448e-01,\n        1.05808198e-01, -2.45884478e-01,  1.30850732e-01,  2.45730449e-02,\n       -1.49783179e-01, -1.44110769e-01, -2.22816065e-01,  2.74744499e-02,\n       -3.08863908e-01,  2.29214728e-01,  9.86311138e-02, -4.17056158e-02,\n        9.31243822e-02,  1.82009235e-01, -7.34128654e-02,  5.52866235e-02,\n        1.09587386e-01, -1.44884791e-02,  3.17812532e-01,  3.05419508e-02,\n        9.09116026e-03,  1.20423190e-01, -8.50768760e-02,  2.01749057e-02,\n        5.06219827e-02,  1.91182807e-01, -3.59410435e-01, -1.02468520e-01,\n       -1.70828164e-01,  1.50821701e-01, -4.36796844e-02, -7.87141398e-02,\n        8.70479122e-02, -4.89177965e-02, -3.14428896e-01, -2.99875177e-02,\n       -4.84855101e-02,  3.42333317e-03,  5.57115600e-02,  2.67888363e-02,\n        1.21147707e-01, -2.45112285e-01, -1.71044737e-01, -3.40447634e-01,\n       -1.39870644e-01,  2.05311149e-01, -1.62535042e-01, -8.27004910e-02,\n        2.01679349e-01,  4.33162339e-02, -4.98828152e-03,  2.03064576e-01,\n       -2.18747288e-01, -1.06927436e-02,  1.43664062e-01,  1.94055289e-01,\n       -7.55847916e-02,  2.99019426e-01,  1.25676796e-01,  2.31990978e-01,\n        1.34112805e-01, -1.24193117e-01,  7.84105808e-03,  7.83843845e-02,\n       -1.18098751e-01, -2.50133008e-01,  6.89525679e-02,  4.81176563e-02,\n       -3.27148549e-02, -7.04863518e-02,  7.75154829e-02, -4.93425652e-02,\n        4.20888960e-02,  1.05836377e-01, -7.30348900e-02,  1.14856750e-01,\n        1.54730082e-02, -1.09641902e-01, -6.56018183e-02,  1.31618679e-01,\n        4.59529553e-03,  6.45665154e-02,  8.74505118e-02, -4.16149348e-02,\n        2.76755244e-01,  2.16234297e-01,  2.20369861e-01,  2.61600055e-02,\n        2.71525439e-02,  1.43360198e-01, -2.18506426e-01,  5.09400666e-02],\n      dtype=float32)}\n\n\n===Additional Context \n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can\'t be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is PostgreSQL-compliant and executable, and free of syntax errors. \n'}, {'role': 'user', 'content': 'each actor with total number of movies he has done'}, {'role': 'assistant', 'content': 'SELECT actor_id,count(*)\n\tFROM public.film_actor group by actor_id;'}, {'role': 'user', 'content': "how many movies actor 'Penelope' has done?"}]
Using model NA-MS-OpenAI-gpt-4o-min-Tools for 2211.5 tokens (approx)
LLM Response: ```sql
-- intermediate_sql
SELECT DISTINCT first_name
FROM public.actor;
```
Extracted SQL: SELECT DISTINCT first_name
FROM public.actor;
Running Intermediate SQL: SELECT DISTINCT first_name
FROM public.actor;
Final SQL Prompt: [{'role': 'system', 'content': 'You are a PostgreSQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n{\'id\': \'232\', \'ddl\': \'\\n    CREATE TABLE IF NOT EXISTS public.actor\\n    (\\n        actor_id integer NOT NULL DEFAULT nextval(\\\'actor_actor_id_seq\\\'::regclass),\\n        first_name character varying(45) COLLATE pg_catalog."default" NOT NULL,\\n        last_name character varying(45) COLLATE pg_catalog."default" NOT NULL,\\n        last_update timestamp without time zone NOT NULL DEFAULT now(),\\n        CONSTRAINT actor_pkey PRIMARY KEY (actor_id)\\n    )\\n\\n\', \'embedding\': array([-9.28089470e-02, -2.51583517e-01,  1.23316981e-03, -6.50459751e-02,\n       -4.59224917e-02,  2.11858153e-01,  1.61485046e-01,  1.99935004e-01,\n       -3.14955711e-02,  1.04629859e-01,  1.21128701e-01, -1.05873428e-01,\n        2.06780672e-01,  1.89267009e-01, -1.16851173e-01, -1.58613436e-02,\n       -7.21288547e-02,  1.55873016e-01, -1.33796751e-01,  1.06809720e-01,\n       -8.88453573e-02, -1.16658732e-01,  1.07787162e-01,  1.08687297e-01,\n        5.60233444e-02, -4.81170043e-02,  9.84642580e-02,  5.26320413e-02,\n        4.42883410e-02, -2.40316123e-01,  3.36729996e-02, -6.63052946e-02,\n        1.10098839e-01,  2.18150765e-01,  3.89085598e-02,  1.82489697e-02,\n       -9.54107940e-02, -6.54294435e-03, -2.18687892e-01,  8.44817087e-02,\n       -3.44100557e-02, -1.29532218e-01, -2.73561049e-02, -8.88982862e-02,\n        6.43837675e-02, -1.06524691e-01, -2.58922931e-02,  3.09631974e-02,\n       -2.07018152e-01,  7.88211972e-02, -2.49697119e-01,  7.73028880e-02,\n       -1.07453410e-02, -6.73301294e-02, -3.28740388e-01,  2.92533562e-02,\n       -1.43474147e-01, -1.48072049e-01,  2.96175145e-02, -1.10396728e-01,\n       -1.12911567e-01, -2.21262828e-01, -9.95429605e-02,  6.87551647e-02,\n        5.37594743e-02,  9.27236602e-02, -2.46505886e-02, -1.66475505e-01,\n        2.54864216e-01, -4.08606380e-02,  9.83057693e-02,  1.94862098e-01,\n       -1.29677597e-02,  5.58807552e-02, -8.51735920e-02, -1.45276070e-01,\n       -1.37375981e-01,  1.73597142e-01,  3.14475507e-01,  7.50261471e-02,\n       -2.18763247e-01, -1.41445696e-01, -3.55563709e-03,  1.04300022e-01,\n       -5.31367883e-02, -1.19216576e-01,  1.06476575e-01,  1.31058589e-01,\n       -2.19367072e-01,  3.77849527e-02,  1.88908875e-01,  9.29965824e-02,\n        1.99783415e-01,  5.57824485e-02,  1.19936675e-01, -9.51325297e-02,\n       -1.29527822e-01, -2.03448907e-02, -6.31297752e-02,  1.14956088e-01,\n       -2.86113650e-01, -1.70641884e-01, -3.08139563e-01,  1.44434080e-01,\n       -1.20351575e-01,  4.80411053e-02,  1.81406245e-01, -2.35908374e-01,\n       -8.44641961e-03, -4.14763913e-02, -5.92512079e-02, -1.13745555e-02,\n       -7.64276609e-02, -2.54003592e-02,  1.58798043e-02,  3.71975377e-02,\n        1.68892413e-01,  1.41872372e-02, -1.24583438e-01, -6.59660324e-02,\n        2.71170557e-01, -6.98943064e-02, -1.36840269e-01,  2.22351357e-01,\n        2.62730837e-01,  5.67430556e-02, -2.14844383e-03,  1.39893750e-02,\n       -6.69366419e-02, -2.33150303e-01,  1.94940001e-01, -1.17565386e-01,\n        6.37071133e-02,  1.81458145e-01, -1.59918830e-01, -5.31679019e-02,\n       -2.49002874e-02, -1.11583792e-01, -9.66054723e-02, -1.00993283e-01,\n        5.02646826e-02,  1.49647072e-01, -7.95696601e-02,  1.72226340e-01,\n        1.49783194e-01, -1.16125848e-02,  1.17536113e-01, -1.49427176e-01,\n       -1.31561503e-01,  2.35733673e-01,  5.43377772e-02, -1.82245165e-01,\n       -5.13085956e-03,  2.86788881e-01, -3.82075086e-02, -3.76489460e-02,\n       -9.80381891e-02, -8.10038298e-02,  9.80540961e-02, -1.94240212e-01,\n       -1.05908677e-01,  3.08780789e-01,  8.75614211e-02,  7.14857057e-02,\n       -1.65384412e-02,  7.44761750e-02, -1.06386356e-02,  5.01787104e-02,\n        1.14016190e-01,  1.16330869e-01, -1.56440750e-01,  1.32173687e-01,\n       -3.10120195e-01, -3.09541464e-01,  1.79212332e-01,  9.01421309e-02,\n       -1.52182698e-01,  1.21925557e-02,  1.71424374e-02,  3.18714768e-01,\n       -2.07704380e-02, -1.69987172e-01, -3.34289700e-01,  6.03796169e-02,\n       -2.74830848e-01, -1.02652930e-01, -7.78611824e-02, -1.97833143e-02,\n        2.49290280e-02, -2.24657580e-02, -1.07411876e-01, -1.29192889e-01,\n        1.67330340e-01,  1.54808746e-04,  2.37072650e-02, -1.71053916e-01,\n        4.91215080e-01, -2.74692863e-01,  1.67661056e-01, -1.97402507e-01,\n       -5.38348630e-02,  4.50932942e-02,  7.94092938e-03, -1.05094261e-01,\n        5.47812618e-02,  1.80998370e-02, -5.02462313e-02, -1.02971122e-01,\n       -1.35611534e-01,  1.23507433e-01, -2.37777039e-01, -4.68227118e-02,\n       -2.58651167e-01, -1.36434078e-01,  1.97280943e-01,  3.83398086e-02,\n       -1.18144294e-02,  1.89030960e-01,  2.77734071e-01, -1.02732621e-01,\n       -6.14254437e-02,  1.04859903e-01,  2.81729877e-01, -1.59672037e-01,\n        2.55421788e-01,  1.30765453e-01, -4.33364153e-01, -3.61339673e-02,\n        3.47186662e-02, -3.23691756e-01,  1.18174501e-01, -5.14835864e-02,\n       -8.56993645e-02,  4.85221185e-02, -4.28386480e-02, -2.36789107e-01,\n       -3.25307548e-02,  1.39384819e-02,  9.72542241e-02,  3.63886692e-02,\n       -2.29343861e-01,  1.56017691e-01,  1.03715569e-01, -1.48585796e-01,\n       -9.03704017e-02,  2.01943710e-01, -2.12484777e-01,  5.72587997e-02,\n        5.63030019e-02,  5.03339618e-02, -5.43650091e-02,  2.56329924e-01,\n       -4.63690758e-02,  1.09398976e-01,  5.64810261e-02,  7.18226135e-02,\n        3.25342603e-02, -3.17988172e-02,  1.07183598e-01, -1.41686872e-01,\n       -3.39296833e-03, -1.46330521e-01,  2.27250248e-01,  2.52601206e-01,\n        2.48648785e-02,  5.17409183e-02, -3.27649981e-01, -1.25183478e-01,\n       -3.79098728e-02, -9.52454209e-02,  2.76379466e-01, -1.72982551e-02,\n        1.51151285e-01, -1.80639662e-02, -2.36220345e-01, -2.80325830e-01,\n        1.54804900e-01, -6.65004253e-02,  1.20334029e-01,  1.81263223e-01,\n        3.89269590e-02,  1.29638433e-01,  1.62823662e-01, -2.43916530e-02,\n        1.31431833e-01, -3.40095907e-03,  8.97369906e-02, -8.31862725e-03,\n       -1.07410830e-02,  2.38031238e-01, -2.89067119e-01,  1.62652448e-01,\n        1.05808198e-01, -2.45884478e-01,  1.30850732e-01,  2.45730449e-02,\n       -1.49783179e-01, -1.44110769e-01, -2.22816065e-01,  2.74744499e-02,\n       -3.08863908e-01,  2.29214728e-01,  9.86311138e-02, -4.17056158e-02,\n        9.31243822e-02,  1.82009235e-01, -7.34128654e-02,  5.52866235e-02,\n        1.09587386e-01, -1.44884791e-02,  3.17812532e-01,  3.05419508e-02,\n        9.09116026e-03,  1.20423190e-01, -8.50768760e-02,  2.01749057e-02,\n        5.06219827e-02,  1.91182807e-01, -3.59410435e-01, -1.02468520e-01,\n       -1.70828164e-01,  1.50821701e-01, -4.36796844e-02, -7.87141398e-02,\n        8.70479122e-02, -4.89177965e-02, -3.14428896e-01, -2.99875177e-02,\n       -4.84855101e-02,  3.42333317e-03,  5.57115600e-02,  2.67888363e-02,\n        1.21147707e-01, -2.45112285e-01, -1.71044737e-01, -3.40447634e-01,\n       -1.39870644e-01,  2.05311149e-01, -1.62535042e-01, -8.27004910e-02,\n        2.01679349e-01,  4.33162339e-02, -4.98828152e-03,  2.03064576e-01,\n       -2.18747288e-01, -1.06927436e-02,  1.43664062e-01,  1.94055289e-01,\n       -7.55847916e-02,  2.99019426e-01,  1.25676796e-01,  2.31990978e-01,\n        1.34112805e-01, -1.24193117e-01,  7.84105808e-03,  7.83843845e-02,\n       -1.18098751e-01, -2.50133008e-01,  6.89525679e-02,  4.81176563e-02,\n       -3.27148549e-02, -7.04863518e-02,  7.75154829e-02, -4.93425652e-02,\n        4.20888960e-02,  1.05836377e-01, -7.30348900e-02,  1.14856750e-01,\n        1.54730082e-02, -1.09641902e-01, -6.56018183e-02,  1.31618679e-01,\n        4.59529553e-03,  6.45665154e-02,  8.74505118e-02, -4.16149348e-02,\n        2.76755244e-01,  2.16234297e-01,  2.20369861e-01,  2.61600055e-02,\n        2.71525439e-02,  1.43360198e-01, -2.18506426e-01,  5.09400666e-02],\n      dtype=float32)}\n\n\n===Additional Context \n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can\'t be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is PostgreSQL-compliant and executable, and free of syntax errors. \n'}, {'role': 'user', 'content': 'each actor with total number of movies he has done'}, {'role': 'assistant', 'content': 'SELECT actor_id,count(*)\n\tFROM public.film_actor group by actor_id;'}, {'role': 'user', 'content': "how many movies actor 'Penelope' has done?"}]
Using model NA-MS-OpenAI-gpt-4o-min-Tools for 2211.5 tokens (approx)
LLM Response: ```sql
-- intermediate_sql
SELECT DISTINCT first_name
FROM public.actor;
```
Extracted SQL: SELECT DISTINCT first_name
FROM public.actor;
SELECT DISTINCT first_name
FROM public.actor;
    first_name
0         Bela
1    Christian
2      Kenneth
3          Ray
4       Dustin
..         ...
123   Angelina
124    Matthew
125    Richard
126    Russell
127       Ewan

[128 rows x 1 columns]
Using model NA-MS-OpenAI-gpt-4o-min-Tools for 167.0 tokens (approx)